.carrinho-container {
    background-color: #151d27; /* Cor de fundo da página */
    color: white; /* Cor do texto */
    padding: 20px; /* Espaçamento interno */
}

.carrinho-container h1 {
    font-family: "Bungee Spice", sans-serif; /* Fonte personalizada */
    color: #ffcc00; /* Cor do título */
}

.card {
    background-color: #24303f; /* Cor de fundo dos cards */
    border: none; /* Remove bordas do card */
}

.card-title {
    color: #ffcc00; /* Cor do título do card */
}

.btn-success {
    background-color: #28a745; /* Cor do botão de finalizar compra */
    border: none; /* Remove bordas do botão */
}

.btn-danger {
    background-color: #dc3545; /* Cor do botão de remover */
    border: none; /* Remove bordas do botão */
}

.btn-danger:hover, .btn-success:hover {
    opacity: 0.8; /* Efeito de hover nos botões */
}