.carrinho-container {
    background-color: #151d27;
    color: white;
    padding: 20px;
}

.carrinho-container h1 {
    font-family: "Bungee Spice", sans-serif;
    color: #ffcc00;
}

.card {
    background-color: #24303f;
    border: none;
}

.card-title {
    color: #ffcc00;
}

.btn-success {
    background-color: #28a745;
    border: none;
}

.btn-danger {
    background-color: #dc3545;
    border: none;
}

.btn-danger:hover, .btn-success:hover {
    opacity: 0.8;
}