.carousel {
    width: 50%; 
    margin: 0 auto;
    position: relative;
    display: flex;
    flex-direction: column; 
    align-items: center; 
}

.carousel-container {
    display: flex;
     transition: transform 0.5s ease;
}

.carousel-slide {
    min-width: 100%; /* Cada slide ocupa 100% da largura */
   
}

.carousel img {
    width: 100%; /* Imagem ocupa toda a largura do slide */
    height: auto; /* Mantém a proporção da imagem */
}

button.prev, button.next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5); /* Fundo semi-transparente */
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    z-index: 10; /* Coloca os botões acima do carrossel */
}

button.prev {
    left: 10px; /* Botão anterior à esquerda */
}

button.next {
    right: 10px; /* Botão próximo à direita */
}