.carousel {
  max-width: 60%;
  padding-top: -10px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.container {
  padding-top: 30px;
  
}

.banner-black-friday {
    max-width: 100%;
    height: 150px;
    display: flex;
    vertical-align: middle;
    margin-top: 30px;
    margin-bottom: 30p;
    margin-left: auto;
    margin-right: auto;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: box-shadow;
    transition-property: box-shadow;
  }
  .banner-black-friday:hover, .banner-black-friday:focus, .banner-black-friday:active {
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
  }

  body{
    background-color: #151d27;
  }

  #navbar{
    background-color: #151d27 !important;
  }
  
  #linkBlack{
    color:rgb(112, 112, 112) !important;
  }
  
  
  #navbar a {
    color:white;
  }

  .dropdown:hover .dropdown-menu {
    display: block;
}

.dropdown-menu {
  margin: -0.125rem 0 0;
}

.img-gameinfo {
  border-radius: 10px;
  width: 40rem;
}

.gamename {
  color: white;
  font-weight: bolder;
  font-size: 20px;
  align-items: center;
}

#aboutgame {
  margin-bottom: 30px;
}

.card{
  background-color: #24303f;
  color: white;
}

#card-requisitos {
  margin: auto;
  margin-left: 12px;
  margin-bottom: 30px;
}

#game-cardbody {
  display: flex;
  justify-content: space-between;
}

.requisitos-minimos,
.requisitos-recomendados {
  display: flex;
  flex-direction: column;
  flex: 1;
  margin-right: 212px;
}

#pesquisarbutton{
  background-color: #24303f;
  color: white;
  border: none;
  transition: background-color 0.3s ease, transform 0.1s ease; /* Adicionando transição */
}

#pesquisarbutton:active {
  background-color: #1a1f24; /* Cor de fundo ao clicar */
  transform: scale(0.95); /* Efeito de redução de tamanho */
  border: orange !important;
}

#logoname{
  font-family: "Bungee Spice", sans-serif !important;
}

.bungee-spice-regular {
  font-family: "Bungee Spice", sans-serif;
  font-weight: 400;
  font-style: normal;
}

#linkbutton{
  text-decoration: none;
}

#logoname2{
  font-family: "Bungee Spice", sans-serif !important;
  padding-top: 20px;
}

.badge{
  margin-top: 10px;
}

.btn-secondary{
  background-color: #384657 !important;
}

#pricebutton {
  transition: background-color 0.3s, color 0.3s; /* Para uma transição suave */
}

#pricebutton:hover {
  background-color: #cc3333 !important; /* Cor de fundo quando o mouse está sobre */
  color: white !important; /* Cor do texto quando o mouse está sobre */
}

.pagination {
  display: flex;
  margin: 30px;
  align-items: center;
  justify-content: center;
}

.pagination .page-link {
  background: #151d27;
  color: white;
  border: none;
}